* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: rgb(71, 153, 178);
}
body::-webkit-scrollbar {
    display: none;
}
/* 3D */
.one3D {
    padding-top: 35vh;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* 指定如何将元素的文本大写。它可以用于使文本显示为全大写或全小写，也可单独对每一个单词进行操作 */
    text-transform: uppercase;
    color: #fff;
    transition: .2s;
}
h1:hover {
    text-shadow: 
        1px 1px 0 #ccc,
        0 2px 0 #ccc,
        0 3px 0 #ccc,
        0 4px 0 #ccc,
        0 5px 0 #ccc;
}
/* loading */

/* common style */
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}