<template>
  <div>
    <div class="one3D">
        <h1>3D 测试</h1>
    </div>
  </div>
</template>

<script lang="ts" setup></script>

<style scoped>
.one3D {
    h1 {
        text-align: center;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        /* 指定如何将元素的文本大写。它可以用于使文本显示为全大写或全小写，也可单独对每一个单词进行操作 */
        text-transform: uppercase;
        color: #fff;
        transition: .2s;
        &:hover {
            text-shadow: 
              1px 1px 0 #ccc,
              0 2px 0 #ccc,
              0 3px 0 #ccc,
              0 4px 0 #ccc,
              0 5px 0 #ccc;
        }
    }
}
</style>
