<template>
  <header class="flex">
    <router-link :class="route.path === '/home/shake' ? 'checked' : ''" to="/home/shake">震动</router-link>
    <router-link :class="route.path === '/home/loading' ? 'checked' : ''" to="/home/loading">加载</router-link>
    <router-link :class="route.path === '/home/hover' ? 'checked' : ''" to="/home/hover">悬浮</router-link>
    <router-link :class="route.path === '/home/transition' ? 'checked' : ''" to="/home/transition">过渡</router-link>
    <router-link :class="route.path === '/home/cool' ? 'checked' : ''" to="/home/cool">炫酷</router-link>
  </header>
  <RouterView class="view flex" />
</template>

<script lang="ts" setup>
import { useRoute } from 'vue-router'
const route = useRoute()
</script>

<style scoped>
/* style -part */
a {
  height: 6vh;
  line-height: 6vh;
  border-radius: 5vh;
  font-size: 2.5vh;
  padding: 0 4vw;
}
.checked {
  color: #fff;
  background-color: #000;
}
/* style -self */
header {
  padding: 0 10vw;
  height: 10vh;
  border-bottom: 1px solid #fff;
}
.view {
  padding: 2vh 5vw;
  div {
    margin: 2vh 2vw;
  }
}
</style>
