<template>
  <div>
    <div class="hvr-grow">One</div>
    <div class="hvr-shrink">Two</div>
    <div class="hvr-pulse">Three</div>
    <div class="hvr-pulse-grow">Four</div>
  </div>
</template>

<script lang="ts" setup></script>

<style scoped></style>
