<template>
  <div>
    <div class="ball-rotate">
      <div></div>
    </div>
    <div class="ball-clip-rotate">
      <div></div>
    </div>
    <div class="ball-clip-rotate-pulse">
      <div></div>
    </div>
    <div class="ball-clip-rotate-multiple">
      <div></div>
    </div>
  </div>
</template>

<script lang="ts" setup></script>

<style scoped></style>
