<template>
  <div>
    <div class="shake-slow">慢震动</div>
    <div class="shake-opacity">透明震动</div>
    <div class="shake-vertical">垂直震动</div>
    <div class="shake-crazy">疯狂震动</div>
  </div>
</template>

<script lang="ts" setup></script>

<style scoped></style>
