<template>
  <div>
    <div class="animate__animated animate__bounce animate__faster">One</div>
    <div class="animate__animated animate__rubberBand animate__faster">Two</div>
    <div class="animate__animated animate__pulse animate__faster">Three</div>
    <div class="animate__animated animate__flash animate__faster">Four</div>
    <div class="animate__animated animate__headShake animate__faster">Five</div>
  </div>
</template>

<script lang="ts" setup></script>

<style scoped>
</style>
