/* display */
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* a */
a {
    display: inline-block;
    background-color: #fff;
    color: #000;
    text-align: center;
    text-decoration: none;
  }